<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="../../public/css/signup.css">
</head>
<body>
  <form method="GET">
    <h1>Signup</h1>
    <div class="input-group">
      <label for="name">Username</label> <br>
      <input type="text" name="name" placeholder="Your username . . ." id="name">
      <img src="../../public/images/icons/user-name-icon.png" alt="icon">
      <p class="error-message"></p>
    </div>
    <div class="input-group">
      <label for="email">Email</label> <br>
      <input type="text" name="email" placeholder="Your email . . ." id="email">
      <img src="../../public/images/icons/email-icon.png" alt="icon">
      <p class="error-message"></p>
    </div>
    <div class="input-group">
      <label for="password">Password</label> <br>
      <input type="password" name="password" placeholder="Your password . . ." id="password">
      <img src="../../public/images/icons/lock-icon.png" alt="icon">
      <img src="../../public/images/icons/eye-close-icon.png" alt="icon" class="eye-icon">
      <p class="error-message"></p>
    </div>
    <div class="input-group">
      <label for="confirm-password">Confirm Password</label> <br>
      <input type="password" name="confirmPassword" placeholder="Re-enter password . . ." id="confirm-password">
      <img src="../../public/images/icons/lock-icon.png" alt="icon">
      <img src="../../public/images/icons/eye-close-icon.png" alt="icon" class="eye-icon">
      <p class="error-message"></p>
    </div>
    <button type="submit">Sign up</button>
    <a href="./login.html">Already have an account ? Login</a>
  </form>
  <script src="../../public/js/signup.js" type="module"></script>
</body>
</html>