<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
  <header>
    <div class="logo"></div>
    <nav class="navbar">
      <a href="#">Home</a>
      <a href="#">Course</a>
      <a href="#">International Certification</a>
      <a href="../forms/signup.html">Course Registration</a>
      <a href="#">Cadd Cae Job's</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <main>    
    <div id="main-background-container">
      <img src="../../public/images/background/main-background-img.png" alt="">
      <button class="more-info-btn">More Info</button>
      <marquee>* Cadd Cae Computers is an Authorized Tally &
        SAP Training Centre…! Special Offers Going on Now…!
        Accounts and Commercial Training Programs … Advanced Computer
        Programmings & Web Development Courses … Amazon AWS Training 
        and Certification … Ethical Hacking Certification Training …
        Digital Marketing Courses … Computer Hardware & Networking … 
        Multimedia Animation & Web Designing Courses … Short Term Diploma Courses … Complete Engineering Designing Solutions 
        – Civil / Architect / Mechanical / Automobile … Spoken English 
        … Computer on Office Automation (COA)… Type Writing … Shorthand 
        … Tailoring & Fashion Designing Courses
      </marquee>  
    </div>
  </main>

  <div id="main-content-container">
    <div id="main-content-heading-group">
      <h1>Govt. Recognised Multi Skilled Training & <br> Placement Center</h1>
      <p>An ISO 9001-2015 Certified Institution</p>
    </div>

    <div class="course-container">
      <div class="child child-1">
        <img src="../../public/images/logos/row-1-child-1-logo.webp" alt="logo">
        <h3>Advanced Programming</h3>
        <p>AI, Machine Learning, Data Science, Java / Python, Full Stack / Web Development, AWS / Cloud Computing, Cyber security, Ethical Hacking, Big Data, Android Development, Software Testing, Digital Marketing, Advanced Excel, Power BI, Tableau.</p>
      </div>
      <div class="child child-2">
        <img src="../../public/images/logos/row-1-child-2-logo.webp" alt="logo">
        <h3>Multimedia <br> Courses</h3>
        <p>Graphic Designing, Photo Editing, Video & Audio Editing, Desktop Publishing, Advertisement Designing, Multimedia Animation & Web Designing, VFX, YouTube Creator, DAVE.</p>
      </div>
      <div class="child child-3">
        <img src="../../public/images/logos/row-1-child-3-logo.webp" alt="logo">
        <h3>Computer <br> Basics</h3>
        <p>Microsoft Windows, MS-Office, Diploma in Office Automation (DOA), Diploma in Computer Application (DCA), HDCA/PGDCA, Computer on Office Automation (COA).</p>
      </div>
    </div>

    <div class="course-container">
      <div class="child child-1">
        <img src="../../public/images/logos/row-2-child-1-logo.webp" alt="logo">
        <h3>Tally Education</h3>
        <p>Tally Prime Essential Certifications Like Recording & Reporting, Accounts Payable and Receivable, Taxation and Compliance, Budgets and Control Management, BRS, TDS, SKU, GST,</p>
      </div>
      <div class="child child-2">
        <img src="../../public/images/logos/row-2-child-2-logo.webp" alt="logo">
        <h3>SAP Training</h3>
        <p>SAP Finance & Controlling (FICO), General & Bank Accounting, Financial Transaction Recording and Capturing. SAP Advanced Business Application Programming (ABAP), Real-Time & Module Pool Programming, ABAP Workbench.</p>
      </div>
      <div class="child child-3">
        <img src="../../public/images/logos/row-2-child-3-logo.webp" alt="logo">
        <h3>Hardware & Networking</h3>
        <p>Diploma in Hardware Technology, Diploma in Networking Technology, Cisco Certified Network Associate (CCNA).</p>
      </div>
    </div>

    <div class="course-container">
      <div class="child child-1">
        <img src="../../public/images/logos/row-2-child-2-logo.webp" alt="logo">
        <h3>Engineering <br> Courses</h3>
        <p>Complete Engineering Designing and Modeling Solutions For Civil, Architect, Mechanical, Electrical, Electronic. Analysis, Project Planning & Management</p>
      </div>
      <div class="child child-2">
        <img src="../../public/images/logos/row-3-child-2-logo.webp" alt="logo">
        <h3>Typewriting, Shorthand & COA</h3>
        <p>Govt. Technical Education in Commerce Subjects Typewriting, Shorthand. English Lower & Higher, Tamil Lower & Higher, Computer on Office Automation.</p>
      </div>
      <div class="child child-3">
        <img src="../../public/images/logos/row-3-child-3-logo.webp" alt="logo">
        <h3>TOEFL, IELTS,GRE, PTE, DET & OET</h3> 
        <p>International English Course For Abroad Studies, immigration and jobs. </p>
      </div>
    </div>

    <div class="course-container">
      <div class="child child-1">
        <img src="../../public/images/logos/row-4-child-1-logo.webp" alt="logo">
        <h3>Spoken English</h3>
        <p>Basic Grammar, Fluent & Professional English, Vocabulary Enrichment, Career Development.</p>
      </div>
      <div class="child child-2">
        <img src="../../public/images/logos/row-4-child-2-logo.webp" alt="logo">
        <h3>Study Abroad</h3>
        <p>At Every Step, Cadd Cae Stand With You! Admission, Study Guidance, Financial, Planning, VISA, Interviews, Pre/Post Landing, Language Skills, Mock Interviews & Assistance.</p>
      </div>
      <div class="child child-3">
        <img src="../../public/images/logos/row-4-child-3-logo.webp" alt="logo">
        <h3>Tailoring, Fashion Designing & Beautician</h3> 
        <p>Tailoring : Churidar & Blouse.
          Fashion Designing : Aari, kundan, Mirror, Zardosi & Cut Work.
          Beautician : Beauty care, Makeup, Mehandi Designing & Saree Draping</p>
      </div>
    </div>
  </div>

  <div id="slide-img-container">
      <h1>International Training and Certification Courses</h1> <hr>
      <div class="img-container">
        <img src="../../public/images/slide-images/img-1.webp" alt="slide-image">
        <img src="../../public/images/slide-images/img-2.webp" alt="slide-image">
        <img src="../../public/images/slide-images/img-3.webp" alt="slide-image">
        <img src="../../public/images/slide-images/img-4.webp" alt="slide-image">
        <img src="../../public/images/slide-images/img-5.webp" alt="slide-image">
      </div>
      <button class="btn btn-1"><img src="../../public/images/icons/arrow-icon.png" alt="arrow-icon"></button>
      <button class="btn btn-2"><img src="../../public/images/icons/arrow-icon.png" alt="arrow-icon"></button>
      <div class="animated-buttons-group">
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
        <button class="animated-btn"></button>
      </div>
  </div>
</body>
</html>